# Rename this file to .env before running

DEV_EMAIL = "blocklancer101@gmail.com"
DEBUG = True

HOST = localhost
HTTPS = False

PROJECTPATH = "/"

FLASK_SECRET_KEY = blocklancersupersecretkey

DATABASE_URL = postgresql://localhost/blocklancer

SENDGRID_API_KEY = blocklancersupersecretkey

TEMPLATE_ROOT = os.path.join(PROJECTPATH, 'templates')
STATIC_ROOT = os.path.join(PROJECTPATH, 'static')

# Process tasks synchronously (for local dev)
CELERY_DEBUG = True
# Enable celery-based send_email task
REDIS_URL= "redis://"

# These keys only valid for 127.0.0.1 or localhost
# Get new keys here: https://www.google.com/recaptcha/admin
RECAPTCHA_SITE_KEY = "6LfwnkwUAAAAACyAz0DYPQYbWMomP-Cva2P8vUH9"
RECAPTCHA_SECRET_KEY = "6LfwnkwUAAAAAGQb-xL7Q81pYmj-vnPpHhAkxjqz"
RECAPTCHA_SIZE = "invisible"

export FLASK_APP = "app/__init__.py"

